header.main-header {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    padding: 1em 0 0 1em;
    background-color: aliceblue;
}

header.main-header h1, header.main-header p {
    margin: 0;
}

header.main-header nav ul {
    list-style: none;
    padding-left: 0;
}

header.main-header nav li {
    display: inline;
    padding-left: 1em;
}

div.gap {
    height: 120px;
}

section.anchored::before { 
    display: block; 
    content: " "; 
    margin-top: -120px; 
    height: 120px; 
    visibility: hidden; 
    pointer-events: none;
  }